%h1 Registrera insättning
- if @errors&.any?
  %p.alert.alert-error
    %ul
      - @errors.each do |e|
        %li= e

%form{method: :post}
  .form-group
    %label Medlem
    %select{name: :member_id}
      %option{value: ''} Välj medlem...
      - @members.each do |m|
        %option{value: m[:id]} #{m[:first_name]} #{m[:last_name]}
  .form-group
    %label Belopp
    %input{type: :number, name: :sum, step: 0.01}
  .form-group
    %label Datum
    %input{type: :date, name: :date}
  .form-group
    %input.btn{type: 'submit', value: :Spara}
