%h1= [@m[:first_name], @m[:last_name]].join(' ') || 'Ny medlem'
%form.form-horizontal{method: :post, enctype: "multipart/form-data"}
  .form-group
    %label Förnamn
    %input{type: 'text', name: :first_name, value: @m[:first_name]}
  .form-group
    %label Efternamn
    %input{type: 'text', name: :last_name, value: @m[:last_name]}
  .form-group
    %label Smeknamn
    %input{type: 'text', name: :nick, value: @m[:nick]}
  .form-group
    %label Sektion
    %input{type: 'text', name: :studied, value: @m[:studied]}
  .form-group
    %label Startår
    %input{type: 'number', name: :started, value: @m[:started], required: true}
  .form-group
    %label Email
    %input{type: 'text', name: :email, value: @m[:email]}
  .form-group
    %label Telefon
    %input{type: 'text', name: :phone, value: @m[:phone]}
  .form-group
    %label Postadress
    %input{type: 'text', name: :street, value: @m[:street]}
  .form-group
    %label Postnummer
    %input{type: 'text', name: :zip, value: @m[:zip]}
  .form-group
    %label Ort
    %input{type: 'text', name: :city, value: @m[:city]}
  .form-group
    %label Admin
    %input{type: 'checkbox', name: :admin, value: :true, checked: @m[:admin]}
  .form-group
    %input.btn{type: 'submit', value: :Spara}
