%h3
  Fester
  %small.float-right
    %a.btn{href: url('new')} Ny fest
%table
  %thead
    %tr
      %th Datum
      %th Namn
  %tbody
    - @parties.each do |p|
      %tr
        %td
          = p[:date]
        %td
          %a{href: url(p[:id])}= p[:name]
