%form{method: :post}
  .form-group
    %input.btn.btn-default{type: :submit, value: 'Skicka Påminnelse'}

%table.table
  %tbody
    - @members.each do |m|
      %tr
        %td= m[:full_name]
        %td= m[:balance]
