%form.uk-form.uk-form-horizontal{method: :post, action: url("/member") }
  %fieldset
    %legend Ny aspirant
    .uk-form-row
      %label.uk-form-label Förnamn
      %input{type: 'text', name: :first_name}
    .uk-form-row
      %label.uk-form-label Efternamn
      %input{type: 'text', name: :last_name}
    .uk-form-row
      %label.uk-form-label Smeknamn
      %input{type: 'text', name: :nick}
    .uk-form-row
      %label.uk-form-label Sektion
      %input{type: 'text', name: :studied}
    .uk-form-row
      %label.uk-form-label Startår
      %input{type: 'text', name: :started}
    .uk-form-row
      %label.uk-form-label Email
      %input{type: 'text', name: :email}
    .uk-form-row
      %label.uk-form-label Telefon
      %input{type: 'text', name: :phone}
    .uk-form-row
      %label.uk-form-label Postadress
      %input{type: 'text', name: :address}
    .uk-form-row
      %label.uk-form-label Postnummer
      %input{type: 'text', name: :zip}
    .uk-form-row
      %label.uk-form-label Ort
      %input{type: 'text', name: :city}
    .uk-form-row
      %input.uk-button.uk-button-success{type: 'submit', value: :Spara}
%form.uk-form.uk-form-horizontal{method: :post, action: url("/party") }
  %fieldset
    %legend Ny fest
    .uk-form-row
      %label.uk-form-label Typ
      %select{name: :type, required: true}
        %option Välj...
        %option{value: 'arbetslunch'} Arbetslunch
        %option{value: 'fest'} Fest
    .uk-form-row
      %label.uk-form-label Namn
      %input{type: 'text', name: :name}
    .uk-form-row
      %label.uk-form-label Tema
      %input{type: 'text', name: :theme}
    .uk-form-row
      %label.uk-form-label Plats
      %input{type: 'text', name: :location}
    .uk-form-row
      %label.uk-form-label Datum
      %input{type: 'date', name: :date}
    .uk-form-row
      %label.uk-form-label Pris
      %input{type: 'number', name: :price}
    .uk-form-row
      %label.uk-form-label Kommentar
      %textarea{name: :comment}
    .uk-form-row
      %input.uk-button.uk-button-success{type: :submit, value: :Spara}
