!!!
%html
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title Academian | Admin
    %link{href: "/css/bootstrap.css", rel: :stylesheet}
    %link{href: "/css/site.css", rel: :stylesheet}
  %body
    .container
      .row
        .col-md-8.col-md-offset-2
          !=yield
