%h1
  -if @attendance.id
    Du anmälde dig
    %small
      != @attendance.timestamp.to_date
  -else
    Anmäl dig
%form.uk-form.uk-form-horizontal{method: :post}
  .uk-form-row
    %label.uk-form-label Vegiterian?
    %input{type: :checkbox, name: :vegitarian, value: :true, checked: @attendance.vegitarian}
  .uk-form-row
    %label.uk-form-label Alkoholfri?
    %input{type: :checkbox, name: :non_alcoholic, value: :true, checked: @attendance.non_alcoholic}
  .uk-form-row
    %label.uk-form-label Allergier?
    %textarea.uk-form-width-medium{type: :text, name: :allergies}
      != @attendance.allergies
  .uk-form-row
    %input.uk-button.uk-button-success{type: :submit, value: 'Anmäl mig'}
    %a.uk-button.uk-button-danger{href: '/'} Avbryt
