-@purchases.each do |n, q|
  %form.text-center.form-inline{method: :post}
    %fieldset
      %legend= n
      .form-group
        %input{type: :hidden, name: :name, value: n}
        %input.btn.btn-primary.btn-lg{type: :submit, value: '-1', name: :change, disabled: q == 0 || @party.date != Date.today}
        %input{type: :hidden, name: :q, value: q}
        %label= q
        %input.btn.btn-primary.btn-lg{type: :submit, value: '+1', name: :change, disabled: @party.date != Date.today}
