.container-narrow
  .card
    .card-body
      - @purchases.each do |n, q|
        %form.buy-item{method: :post}
          %input{type: :hidden, name: :name, value: n}
          %input{type: :hidden, name: :q, value: q}
          %span.buy-item-name= n
          .buy-item-controls
            %button.btn.btn-primary.buy-btn{type: :submit, name: :change, value: '-1', disabled: q == 0 || @party.date != Date.today} −
            %span.buy-item-count= q
            %button.btn.btn-primary.buy-btn{type: :submit, name: :change, value: '+1', disabled: @party.date != Date.today} +
