%table.table
  %thead
    %tr
      %th Datum
      %th Namn
      %th Price
  %tbody
    -@events.each do |event|
      %tr
        %td
          %a{href: url("/#{event[:id]}")}= event[:date]
        %td= event[:name]
        %td= event[:price]
