!!!
%html
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title Academian - Glömt lösenord
    %link{href: "/css/uikit.almost-flat.min.css", rel: :stylesheet}
  %body
    .uk-container.uk-container-center
      %h1 Återställ lösenordet
      .tm-main.uk-width-medium-3-5
        - flash.each do |k,v|
          .uk-alert{class: "uk-alert-#{k}"}
            != v
      %form.uk-form.uk-form-horizontal{method: :post}
        .uk-form-row
          %label.uk-form-label Email
          %input{type: :text, name: :email}
        .uk-form-row
          %input.uk-button.uk-button-success{type: :submit, value: "Återställ"}
          %a{href: "/login"} Logga in
