!!!
%html
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title Academian | Glömt lösenord
    %link{href: "/css/site.css", rel: :stylesheet}
  %body
    .container-narrow
      - flash.keys.each do |key|
        %div{class: "alert alert-#{key}", role: :alert}
          = flash[key]
      %h1 Glömt lösenordet
      %form{method: :post}
        .form-group
          %label E-mail:
          %input{name: 'email', type: 'email', value: (params[:email] || '').strip.gsub(/ /, '+'), readonly: params[:email]}
        %input.btn.btn-primary{type: 'submit', value: 'Submit'}
