.text-center
  .row
    %h1
      %small  Academia Vestigia Nuda Sinistri Pedis
    %p
      Välkommen till Academians (nya) tillvistelse på nätet, hoppas du skall trivas! Har du några frågor eller funderingar kan du alltid kontakta mig, min högst metaforiska dörr står alltid öppen. Gäller det specifika frågor om hemsidan och dess skötsel går det bra att vända sig direkt till Chef des Ordinateur
      != succeed('.') do
        %a{href: 'mailto:cdo@academian.se'} Magnus Hörberg
    %p
      Ta hand om din vänstra fot, så ses vi förhoppningsvis snart.
    %p
      Ex officio,
      %br
      Chef des Chefs Björn Rödseth
      %br
      Sinistrum pedem ducit ad victoriam
  .row
    .col-sm-12
      %h3 Kommande event
  .row
    .col-sm-offset-3.col-sm-6
      .list-group
      -@parties.each do |p|
        .list-group-item
          %h4.list-group-item-heading
            %a{href: "/party/#{p.id}"}= p.description
          .list-group-item-text
            -if p.is_attending?(@user.id)
              Du är anmäld!
            -elsif DateTime.now < p.attendance_deadline
              !=haml(:attend_form, layout: false, locals: { party_id: p.id, a: @user.attendance(p.id) })
