:javascript
  function render(item) {
    console.log(item)
  };
  $(function() {
    var es = new EventSource("/stream");

    es.addEventListener("event.created", function(msg) {
      data = JSON.parse(msg.data);
      console.log(data)
    });
  });
