#events
%script#party-tmpl{type: "text/template"}
  .header
    %a{href: "/party/{id}"}
      %strong {name} - {date}
  .body
    %dl
      %dt Vart:
      %dd {location}
      %dt Pris:
      %dd {price}kr
      %dt Meddelande från arrangörer
      %dd {comment}
%script#member-tmpl{type: "text/template"}
  .uk-animation-slide-top
    .header
      %a{href: "/member/{id}"}
        %strong Säg hej till {first_name} {nick} {last_name}
    .body
      %ul
        %li {studied}
        %li {started}
:javascript
  function nano(template, data) {
    return template.replace(/\{([\w\.]*)\}/g, function(str, key) {
      var keys = key.split("."), v = data[keys.shift()];
      for (i = 0, l = keys.length; i < l; _i++) v = v[this];
      return (typeof v !== "undefined" && v !== null) ? v : "";
    });
  };

  function render(template, item) {
    $("#events").prepend(nano(template, item));
  };
  $(function() {
    var partyTemplate = document.getElementById("party-tmpl").innerHTML;
    var memberTemplate = document.getElementById("member-tmpl").innerHTML;
    var es = new EventSource("/stream");
    var events = #{@events};
    for(var i = 0; i < events.length; i++) {
      var evt = events[i];
      var data = JSON.parse(evt.data);
      console.log(data);
      console.log(evt.name);
      switch(evt.name) {
        case 'party':
          render(partyTemplate, data);
          break;
        case 'member':
          render(memberTemplate, data);
          break;
      }
    }
    es.addEventListener("event.party.created", function(msg) {
      data = JSON.parse(msg.data);
      //render(partyTemplate, data);
    });
  });
