.row
  .col-sm-offset-3.col-sm-6.text-center
    %h1
      Välkommen till
      %small Academia Vestigia Nuda Sinistri Pedis
.row
  .col-sm-offset-3.col-sm-6.text-center
    %h3 Kommande event
.row
  .col-sm-offset-3.col-sm-6.text-center
    %ul.list-unstyled
      -@events.each do |e|
        %li
          %a{href: "/party/#{e.id}"}= e.description
