#events
%script#party-tmpl{type: "text/html"}
  .wrapper.uk-grid
    .uk-width-1-10
      %i.uk-icon-beer.uk-icon-large.img
    .uk-width-9-10
      .header
        %a{href: "/party/{id}"}
          %strong {name} - {date}
      .body
        %span
          Vart:
          %strong
            {location},
          Pris:
          %strong
            {price}kr, 
          %br
          Meddelande:
          %strong
            {comment}
        .actions
          %form.ui-form
            %a
              %span
                %i.uk-icon-thumbs-o-up
                Like
            %a
              %span
                %i.uk-icon-thumbs-o-down.rotate-x
                Njaa..
%script#member-tmpl{type: "text/html"}
  .wrapper.uk-grid
    .uk-width-1-10
      %i.uk-icon-user.uk-icon-large.img
    .uk-width-9-10
      .header
        %a{href: "/member/{id}"}
          %strong Säg hej till {first_name} {nick} {last_name}
      .body
        %ul
          %li {studied}
          %li {started}
:javascript
  function nano(template, data) {
    return template.replace(/\{([\w\.]*)\}/g, function(str, key) {
      var keys = key.split("."), v = data[keys.shift()];
      for (i = 0, l = keys.length; i < l; _i++) v = v[this];
      return (typeof v !== "undefined" && v !== null) ? v : "";
    });
  };

  function render(template, item) {
    $("#events").prepend(nano(template, item));
  };
  $(function() {
    var partyTemplate = document.getElementById("party-tmpl").innerHTML;

    var memberTemplate = document.getElementById("member-tmpl").innerHTML;

    var es = new EventSource("/stream");
    var events = #{@events};
    for(var i = 0; i < events.length; i++) {
      var evt = events[i];
      var data = JSON.parse(evt.data);
      switch(evt.name) {
        case 'party':
          render(partyTemplate, data);
          break;
        case 'member':
          render(memberTemplate, data);
          break;
      }
    }
    es.addEventListener("event.party.created", function(msg) {
      item = JSON.parse(msg.data);
      render(partyTemplate, JSON.parse(item.data));
    });
  });
