!!!
%html
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title
      Academian
      != " | #{name.capitalize}"
    %link{href: asset_path("/css/site.css"), rel: :stylesheet}
    %script{src: asset_path("/js/htmx.min.js"), defer: true}
  %body
    %header.navbar
      .container
        %a.navbar-brand{href: "/"} Academian
        %input#nav-toggle.nav-toggle{type: "checkbox"}
        %label.nav-toggle-label{for: "nav-toggle"} &#9776;
        %ul.nav-links
          %li{class: name == 'party' ? 'active' : ''}
            %a{href: "/party"} Fester
          %li{class: name == 'Album' ? 'active' : ''}
            %a{href: "/album"} Album
          %li{class: name == 'Matrikel' ? 'active' : ''}
            %a{href: "/member"} Matrikel
          %li
            %a{target: "_blank", rel: "noopener noreferrer", href: "https://drive.google.com/file/d/0B3QhyTTdcuW8SWJZaUVwdXBNUE0/view?fbclid=IwAR1hI1TiBtOS6DHvOuDWyaxUZDI9skIZL0w14ID_eLlXjYfDPz7HB3xlVq4"} Sångbok
          - if @user&.admin
            %li
              %a{href: "/cheferiet"} Cheferiet
        .nav-right
          %span.dark-background Inloggad som
          .dropdown
            %button.dropdown-toggle{type: "button"}
              = @user.full_name
              &#9662;
            %ul.dropdown-menu
              %li
                %a{href: "/member/#{@user.id}"} Profil
              %li
                %a{href: "/member/profile-edit"} Ändra
              %li.divider
              %li
                %form{method: :post, action: "/logout"}
                  %button{type: :submit} Logga ut
    .container
      .hero
        .text-center
          %img{src: '/img/avnsp-logo.png'}
        !=yield
    %footer.footer
      %h4 Betalning
      %p PG 81 99 50-7
