!!!
%html
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title
      Academian
      != " | #{name.capitalize}"
    %link{href: "/css/bootstrap.min.css", rel: :stylesheet}
    %link{href: "/css/site.css", rel: :stylesheet}
    %script{type: 'text/javascript', src: "/js/jquery-2.0.3.min.js"}
    %script{type: 'text/javascript', src: "/js/bootstrap.min.js"}
  %body
    %header.navbar-avnsp.navbar.navbar-default{role: :navigation}
      .container{style: "padding-top: 20px; padding-bottom: 20px;"}
        .navbar-header
          %button.navbar-toggle.collapsed{type: 'button', data: { target: '.nav-collapse', toggle:'collapse' } }
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/"} Academian
        .navbar-collapse.nav-collapse.collapse
          %ul.nav.navbar-nav
            %li{class: name == 'party' ? 'active' : ''}
              %a{href: "/party"} Fester
            %li{class: name == 'Album' ? 'active' : ''}
              %a{href: "/album"} Album
            %li{class: name == 'Matrikel' ? 'active' : ''}
              %a{href: "/member"} Matrikel
          .navbar-right
            %p.navbar-text.dark-background
              Inloggad som
              %ul.nav.navbar-nav
                %li.dropdown
                  %a.dropdown-toggle{'data-toggle': 'dropdown', href: '#', role: 'button'}
                    = @user.full_name
                    %span.caret
                  %ul.dropdown-menu
                    %li
                      %a{href: "/member/#{@user.id}"} Profil
                    %li
                      %a{href: "/member/profile-edit"} Ändra
                    %li.divider
                    %li
                      %form.navbar-form{method: :post, action: "/logout"}
                        %button.btn.btn-block.btn-default Logga ut
    .container
      .row
        .col-sm-offset-1.col-sm-10.col-md-offset-1.col-md-10.content
          .jumbotron.jumbotron-avnsp
            .text-center
              %img{src: '/img/avnsp-logo.png'}
            !=yield
