%form.uk-form.uk-form-horizontal{method: :post}
  %fieldset
    %legend Logga in
    .uk-form-row
      %label.uk-form-label Användarnamn
      %input{type: :text, name: :nick}
    .uk-form-row
      %label.uk-form-label Lösenord
      %input{type: :password, name: :password}
    .uk-form-row
      %input.uk-button.uk-button-success{type: :submit, value: :Login}
      %a{href: "/forgot"} Glömt lösenordet?
