!!!
%html
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title Academian | Login
    %link{href: "/css/bootstrap.css", rel: :stylesheet}
  %body
    .container
      .row
        .col-md-8.col-md-offset-2
          %h4
            Ange din email och tryck p책 logga in. Ett email skickas till dig, klicka p책 l채nken i mailet s책 loggas du in.
          %form{method: :post}
            .form-group
              %input.form-control{type: :text, name: :email}
            %input.btn{type: :submit, value: 'Logga in'}
