%link{href: "/css/cropper.min.css", rel: :stylesheet}
.row
  .col-sm-12.text-center
    %h1 Ändra din profil
.row
  .col-sm-12
    %form#form-profile{method: :post, enctype: 'multipart/form-data'}
      .form-group
        %label Förnamn
        %input.form-control{type: :text, name: :first_name, value: @user.first_name}
      .form-group
        %label Efternamn
        %input.form-control{type: :text, name: :last_name, value: @user.last_name}
      .form-group
        %label Studerade
        %select.form-control{name: :studied}
          -%w(M KTS Y MatNat TB Ling MT I D C IT).each do |program|
            %option{selected: @user.studied == program}= program
      .form-group
        %label Började
        %input.form-control{type: :number, name: :started, value: @user.started}
      .form-group
        %label Telefon
        %input.form-control{type: :tel, name: :phone, value: @user.phone}
      .form-group
        %label Adress
        %input.form-control{type: :text, name: :street, value: @user.street}
      .form-group
        %label Ort
        %input.form-control{type: :text, name: :city, value: @user.city}
      .form-group
        %label Postnummer
        %input.form-control{type: :text, name: :zip, value: @user.zip}
      .form-group
        %label Profilbild
        %input{type: :file, accept: 'image/*', name: :profile_picture, onChange: "previewFile()"}
        %img.profile.img-responsive{src: @user.profile_picture_cdn, alt: "Profile picture preview..."}
      %button.btn.btn-default Spara
%script{type: 'text/javascript', src: "/js/cropper.min.js"}
:javascript
  var imgProfile = $('img.profile');
  function previewFile() {
    var file    = document.querySelector('input[type=file]').files[0];
    var reader  = new FileReader();

    reader.onloadend = function () {
      imgProfile.cropper('replace', reader.result);
    }

    if (file) {
      reader.readAsDataURL(file);
    } else {
      preview.src = "";
    }
  }

  imgProfile.cropper();

  $('#form-profile').submit(function(e) {
    e.preventDefault();
    imgProfile.cropper('getCroppedCanvas').toBlob(function (blob) {
      var formData = new FormData(e.target);
        formData.append('cropped', blob);
        $.ajax('/member/edit', {
          type: 'POST',
          data: formData,
          processData: false,
          contentType: false,
          success: function () {
            console.log('Upload success');
          },
          error: function () {
            console.log('Upload error');
          }
        })
      })
    return false
  })
