.text-center
  %h1 Ändra din profil
%form{method: :post, enctype: 'multipart/form-data'}
  .form-group
    %label Förnamn
    %input{type: :text, required: true, name: :first_name, value: @user.first_name}
  .form-group
    %label Efternamn
    %input{type: :text, required: true, name: :last_name, value: @user.last_name}
  .form-group
    %label Email
    %input{type: :email, required: true, name: :email, value: @user.email}
  .form-group
    %label Studerade
    %select{name: :studied}
      - %w(M KTS Y MatNat TB Ling MT I D C IT).each do |program|
        %option{selected: @user.studied == program}= program
  .form-group
    %label Började
    %input{type: :number, name: :started, value: @user.started}
  .form-group
    %label Telefon
    %input{type: :tel, name: :phone, value: @user.phone}
  .form-group
    %label Adress
    %input{type: :text, name: :street, value: @user.street}
  .form-group
    %label Ort
    %input{type: :text, name: :city, value: @user.city}
  .form-group
    %label Postnummer
    %input{type: :text, name: :zip, value: @user.zip}
  .form-group
    %a{href: url('/profile-picture')} Byt profilbild här
  %button.btn Spara
