.text-center
  %h1 Ändra din profilbild
%form#form-profile{method: :post, enctype: 'multipart/form-data'}
  .form-group
    %label Profilbild
    %input{type: :file, accept: 'image/*', name: :profile_picture}
    %img.profile.img-fluid{src: @user.profile_picture_cdn, alt: "Profile picture preview...", crossorigin: "anonymous"}
  %button.btn Spara
%script{src: asset_path("/js/cropper.min.js")}
%script{src: asset_path("/js/profile-picture.js")}
