%link{href: "/css/cropper.min.css", rel: :stylesheet}
.row
  .col-sm-12.text-center
    %h1 Ändra din profilbild
.row
  .col-sm-12
    %form#form-profile{method: :post, enctype: 'multipart/form-data'}
      .form-group
        %label Profilbild
        %input{type: :file, accept: 'image/*', name: :profile_picture, onChange: "previewFile()"}
        %img.profile.img-responsive{src: @user.profile_picture_cdn, alt: "Profile picture preview..."}
      %button.btn.btn-default Spara
%script{type: 'text/javascript', src: "/js/cropper.min.js"}
:javascript
  var imgProfile = $('img.profile');
  function previewFile() {
    var file    = document.querySelector('input[type=file]').files[0];
    var reader  = new FileReader();

    reader.onloadend = function () {
      imgProfile.cropper('replace', reader.result);
    }

    if (file) {
      reader.readAsDataURL(file);
    } else {
      preview.src = "";
    }
  }

  imgProfile.cropper();

  $('#form-profile').submit(function(e) {
    e.preventDefault();
    imgProfile.cropper('getCroppedCanvas').toBlob(function (blob) {
      var formData = new FormData(e.target);
        formData.append('cropped', blob);
        $.ajax('/member/profile-picture', {
          type: 'POST',
          data: formData,
          processData: false,
          contentType: false,
          success: function () {
            console.log('Upload success');
            location.reload();
          },
          error: function () {
            console.log('Upload error');
          }
        })
      })
    return false
  })

