.row
  .col-sm-12.text-center
    %h1 Ändra din profil
.row
  .col-sm-12
    %form{method: :post, enctype: 'multipart/form-data'}
      .form-group
        %label Förnamn
        %input.form-control{type: :text, required: true, name: :first_name, value: @user.first_name}
      .form-group
        %label Efternamn
        %input.form-control{type: :text, required: true, name: :last_name, value: @user.last_name}
      .form-group
        %label Email
        %input.form-control{type: :email, required: true, name: :email, value: @user.email}
      .form-group
        %label Studerade
        %select.form-control{name: :studied}
          -%w(M KTS Y MatNat TB Ling MT I D C IT).each do |program|
            %option{selected: @user.studied == program}= program
      .form-group
        %label Började
        %input.form-control{type: :number, name: :started, value: @user.started}
      .form-group
        %label Telefon
        %input.form-control{type: :tel, name: :phone, value: @user.phone}
      .form-group
        %label Adress
        %input.form-control{type: :text, name: :street, value: @user.street}
      .form-group
        %label Ort
        %input.form-control{type: :text, name: :city, value: @user.city}
      .form-group
        %label Postnummer
        %input.form-control{type: :text, name: :zip, value: @user.zip}
      .form-group
        %a{href: url('/profile-picture')} Byt profilbild här
      %button.btn.btn-default Spara
