.text-center
  .row{style: "margin-top:50px"}
    %h3 Fördelningen över utbildningar
    %canvas{id: 'studied-chart'}
    
  .row{style: "margin-top:50px"}
    %h3 Fördelningen över inträdesår
    %canvas{id: 'started-chart'}

%script{src: "https://cdn.jsdelivr.net/npm/chart.js@2.8.0"}
%script{type: 'text/javascript', src: "https://d3js.org/d3.v5.js"}
%script{type: 'text/javascript', src: "/js/statisticsFunctions.js"}
:javascript

  function getContextFromId(id) {
    return document
    .getElementById(id)
    .getContext("2d")
  }
  function fetchAndDrawData(url, functionToDraw, context) {
    fetch(url).then(a => {
        return a.text()
      }).then(jsonText => {
        return JSON.parse(jsonText)
      }).then(data => {
        functionToDraw(context, data)
      })
  }
      
  fetchAndDrawData('/statistics/data/studied', drawStudied, getContextFromId('studied-chart'))
  fetchAndDrawData('/statistics/data/started', drawStarted, getContextFromId('started-chart'))
  