.text-center
  %div.mt-3
    %h3 Fördelningen över utbildningar
    %canvas{id: 'studied-chart'}

  %div.mt-3
    %h3 Fördelningen över inträdesår
    %canvas{id: 'started-chart'}

%script{src: "https://cdn.jsdelivr.net/npm/chart.js@2.8.0"}
%script{src: asset_path("/js/statisticsFunctions.js")}
