.text-center
  .row{style: "margin-top:50px"}
    %h1 Academian och programmen för dess medlemmar
    %p Här ser man hur många det finns av de olika sektionerna.
    %canvas{id: 'studied-chart'}
    
  .row{style: "margin-top:50px"}
    %h1 Academian och åren som dess medlemmar började studera
    %p Här ser man hur många det finns för varje årskull. Observera att det finns stor del som inte har någon ålder specificerad.
    %canvas{id: 'started-chart'}

%script{src: "https://cdn.jsdelivr.net/npm/chart.js@2.8.0"}
%script{type: 'text/javascript', src: "https://d3js.org/d3.v5.js"}
%script{type: 'text/javascript', src: "/js/statisticsFunctions.js"}
:javascript

  function getContextFromId(id) {
    return document
    .getElementById(id)
    .getContext("2d")
  }
  function fetchAndDrawData(url, functionToDraw, context) {
    fetch(url).then(a => {
        return a.text()
      }).then(jsonText => {
        return JSON.parse(jsonText)
      }).then(data => {
        functionToDraw(context, data)
      })
  }
      
  fetchAndDrawData('/statistics/data/studied', drawStudied, getContextFromId('studied-chart'))
  fetchAndDrawData('/statistics/data/started', drawStarted, getContextFromId('started-chart'))
  