.text-center
  .row
    %h1 Statistik
    -# -@programs.each do |program|
    -#   %h1{id: program[:label]}=program[:quantity]
    %p
      %Här kan du se oss academian och dess historia. @test
      -@test
  .row
    .some-idparse
    %canvas{id: 'my-chart'}

%script{src: "https://cdn.jsdelivr.net/npm/chart.js@2.8.0"}
%script{type: 'text/javascript', src: "https://d3js.org/d3.v5.js"}
:javascript
  const programs = "#{@programs}"
  console.log('programs', programs)
  
  function get_number_of_elements(programString){

    return document.getElementById(programString).innerHTML
  }
  const chart = document.getElementById('my-chart')

  const labels = programs.map(a=>a.label)
  const data = programs.map(a=>a.quantity)
  console.log('#{@programs}')
  console.log('chart', chart)
  var ctx = chart.getContext('2d');
  new Chart(ctx, {
      // The type of chart we want to create
      type: 'bar',

      // The data for our dataset
      data: {
          labels,
          datasets: [{
              label: 'My First dataset',
              backgroundColor: 'rgb(255, 99, 132)',
              borderColor: 'rgb(255, 99, 132)',
              data
          }]
      },

      // Configuration options go here
      options: {}
  });
  d3
  .select(".some-id")
  .append("svg")
  .attr("width", 50)
  .attr("height", 50)
  .append("circle")
  .attr("cx", 25)
  .attr("cy", 25)
  .attr("r", 25)
  .style("fill", "purple");

  