!!!
%html
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= "#{@party.name} - Stream"
    %link{href: '/css/site.css', rel: :stylesheet}
  %body.stream-page
    %h1= @party.name
    .legend#legend
    .chart#chart
    %div#stream-data{data: {attendees: @attendances.to_json, purchases: @purchases.to_json, party_id: @party.id, mqtt_user: @username, mqtt_pass: @password}}
    %script{src: '/js/mqttws31.js'}
    %script{src: '/js/stream.js'}
