@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('../fonts/lato-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url('../fonts/lato-bold.ttf') format('truetype');
}
body, label, input, select, p {
  font-family: 'Lato','Droid sans', 'Lucida Grande', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.list-group, .list-group-item  {
  background: inherit;
}
body {
  background: transparent url('/img/tweed.png') repeat 0 0;
  color: #fff;
}
.list-group-item {
  border: none;
}
.jumbotron.jumbotron-avnsp {
  color: #333;
}
.navbar.navbar-avnsp {
  border-radius: 0;
  margin-bottom; 20px;
}
.navbar.navbar-avnsp a {
  color: #ccc;
}
.navbar.navbar-avnsp li a {
  color: #aaa;
}
p.navbar-text.dark-background {
  color: #aaa;
}
.content {
  border 1px solid #ccc;
  padding-bottom: 10em;
}

.navbar-default {
  background-color: rgba(100, 100, 100, 0.9);
  border-color: #1f1f1f;
}
.wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn.btn-default.btn-dark {
  color: #ccc;
  background: #333;
  border-color: #444;
}
i.rotate-x{
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 5s;

  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 5s;

  -webkit-animation-name: rotate; 
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-direction: alternate;

  -moz-animation-name: rotate; 
  -moz-animation-duration: 1s; 
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
}

@-webkit-keyframes rotate {
  from {-webkit-transform: rotateX(180deg);}
  to {-webkit-transform: rotateX(0deg);}
}

@-moz-keyframes rotate {
  from {-moz-transform: rotateX(0deg);}
  to {-moz-transform: rotateX(180deg);}
}
.img {
  margin-top: 5px;
}

.albums-list-spacing {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
}

@media screen and (max-width: 480px){
	#grid[data-columns]::before {
		content: '1 .column.size-1of1';
	}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
	#grid[data-columns]::before {
		content: '2 .column.size-1of2';
	}
}
@media screen and (min-width: 769px) {
	#grid[data-columns]::before {
		content: '3 .column.size-1of3';
	}
}

/* Again, you’re free to use and define the classes: */
.column { float: left; }
.size-1of1 { width: 100%; }
.size-1of2 { width: 50%; }
.size-1of3 { width: 33.333%; }
